<div id="about-me-page">
  <div id="main-info">
    <div id="education">
      <h1>Education</h1>
      <ul>
        <li>
          <details>
            <summary>Tran Phu Highschool for the gifted - Class of 2021</summary>
            <p>Mathematics Major</p>
            <p>GPA: 3.8/4.0 (9.5/10.0)</p>
          </details>
        </li>
        <li>
          <details>
            <summary>Texas Christian University - Class of 2025</summary>
            <p>Bachelor of Computer Science && Mathematics minor</p>
            <p>GPA: 3.6/4.0</p>
          </details>
        </li>
      </ul>
    </div>

    <div id="experience">
      <h1>Working Experience</h1>
      <ul>
        <li>
          <details>
            <summary>FPT Software (Working remotely in VietNam)</summary>
            <p>Developed interactive and responsive user interfaces using reusable <strong>Angular.js </strong>components for web-based applications,
              based on design specifications provided in <strong>Figma</strong></p>
            <p>Deliver features including managing email/text, set appointment, track messages, calls,
              and mails by harnessing existing APIs of <strong>Django</strong> and <strong>ASP.Net</strong>.</p>
            <p>Worked in a team, using <strong>Agile</strong> development methodologies to efficiently plan, develop, and test the application.</p>
          </details>
        </li>
      </ul>
    </div>

    <div id="extra-curricular-activities">
      <h1>Extracurricular Activities</h1>
      <ul>
        <li>
          <details>
            <summary>Mary Cout Burnett Library - IC Desk Assistant</summary>
            <p>Yes</p>
          </details>
        </li>
        <li>
          <details>
            <summary>VSA Board of Logistics 2023-2024</summary>
            <p>Yes</p>
          </details>
          <details>
            <summary>VSA Volunteer 2023-2024</summary>
            <p>Yes</p>
          </details>
        </li>
        <li>
          <details>
            <summary>GPA CAMP - Summer 2022</summary>
            <p>Yes</p>
          </details>
        </li>
      </ul>
    </div>

  </div>


  <div id="my-image">
    <div id="image-holder">
      <img class="image" src="../../../../../../assets/aboutme-page/NguyenDT27_Đỗ Thành Nguyên.jpg" alt="">
    </div>
  </div>
</div>
