@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap'); //font-style for game introduction

#about-me-page {
  margin: 5% 8%;
  display: flex;
}

* {
  font-family: 'Quicksand', sans-serif;
}

//-----------------------------------------------------------
#main-info {
  width: 65%;
  padding-right: 5%;
}

#education {
  width: 100%;
  color: #4A96ED;
}

h1 {
  color: white;
  text-shadow: 3px 3px gray;
}

li {
  list-style-type: none;

}

details {
  display: block;
}

details summary {
  font-size: 25px;
  color: #4A96ED;

  transition: font-weight color 2s;
}

details summary:hover {
  font-weight:bold;
  color: #D1ED32;
}


details p {
  font-size: 20px;
  color: #4A96ED;
  font-style: italic;
}

p {
  position: relative;
  padding-left: 20px; /* Adjust as needed */
}

p::before {
  content: "\2022"; /* Unicode bullet point character */
  position: absolute;
  left: 0;
  top: 0.2em; /* Adjust vertical alignment */
  color: white; /* Adjust color if needed */
}

//------------------------------------------------------------
#experience {

}

//------------------------------------------------------------
#extra-curricular-activities {
  color: #4A96ED;
}

//------------------------------------------------------------
//My avatar
@keyframes example {
  0%   {border-color: limegreen;}
  25%  {border-color: #CC691D;}
  50%  {border-color: #553ACF;}
  75% {border-color: blueviolet;}
  100% {border-color: #804518;}
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

#my-image {
  width: 35%;
  height: 48vh;
  display: flex;
  justify-content: center;
}

#image-holder {
  // width: 100%;
  height: 100%;
  aspect-ratio: 3/4;
  border-radius: 30px;
  border: 4px solid limegreen;

  animation: example 5s infinite;
}


//----------------------------------------------------------------------------------------------
//Responsive design
@media screen and (max-width: 768px) {
  #about-me-page {
    flex-direction: column-reverse;
  }

  #my-image {
    width: 100%;
    justify-content: center;
  }

  #main-info {
    padding: 0;
  }
}

