<!-- <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js"></script>
<script src="sweetalert2.min.js"></script>
<link rel="stylesheet" href="sweetalert2.min.css"> -->

<!-- <h2>Input your maze here and click Solve button to solve your quiz!</h2> -->
<div class="solve-page">
  <div id="maze">
    <div class="grid-container" *ngFor="let row of mazeList; let i = index">
      <form class="grid-form" *ngFor="let element of row; let j = index">
        <input matInput type="number" max="9" min="1" class="grid-item" [(ngModel)]="mazeList[i][j]" [ngModelOptions]="{standalone:true}" [disabled]="isDisabled">
        <!-- <mat-hint>E</mat-hint> -->
      </form>
    </div>
  </div>

  <div class="direction">
    <h3>Input your maze here, and click on Solve button to solve your message</h3>
    <div class="button-holder">
      <button mat-raised-button color="primary" (click)="solveMaze()" class="solveButton">
        <span>Solve</span>
      </button>

      <button mat-raised-button color="primary" (click)="clearMaze()" class="solveButton">
        <span>Clear</span>
      </button>

      <button mat-raised-button color="primary" (click)="printMaze()" class="solveButton">
        <span>Print Status <strong>(For Test)</strong></span>
      </button>

      <button mat-raised-button color="primary" (click)="fillMatrix()" class="solveButton">
        <span>Fill in The maze <strong>(For Test)</strong></span>
      </button>
    </div>
    <!-- <mat-form-field class="example-full-width">
      <textarea matInput class="input-area" [(ngModel)]="input"></textarea>
    </mat-form-field> -->

    <div id="notifiCation">
      <p *ngIf="isSolve && canBesolve" style="color: lime;">The Maze is solved successfully</p>
      <p *ngIf="!isSolve && !canBesolve" style="color: red;">We can not solve this maze</p>
      <p *ngIf="!isSolve && canBesolve" style="color: orange;">If you can not finish it, we can help you</p>
    </div>
  </div>

</div>

