@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@600&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');

/* For WebKit (Chrome, Safari) => prevent stepper in <input> box */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// As you remove the space you cannot put <mat-hint>hint</mat-hint> or <mat-error>error</mat-error> properly. Error and hint get inside the form-field.
// mat-form-field {
//   margin-bottom: -1.25em;
// }

.solve-page {
  display: flex;
  flex-wrap: wrap;
  margin: 1.5% 5%;

  gap: 5%;
}

#maze {
  width: 50%;
}

.grid-container {
  display: grid;
  grid-template-columns: 11% 11% 11% 11% 11% 11% 11% 11% 11% 11%;

  padding: 0;
}

.grid-item {
  border-radius: 8px;
  border: 2px solid #148F10;
  background-color: #98DB9C;
  border-collapse: collapse;
  padding: 0;
  font-size: 25px;
  text-align: center;
  margin: 1px;
}


//----------------------------------------------------------------------------------
//Button Place
.button-holder {
  width: 100%;
  height: 20%;
  padding: 0;
  gap: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.button-holder button {
  border: 2px solid orange;
  color: orange;
  background-color: #8F4A17;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
}

.button-holder button:hover {
  border: 3px solid lime;
  color: lime;
  font-weight: 500;
  background-color: #5C44DB;
}

.solveButton {
  margin: 0;
}

.mat-hint {
  display: none;
}

//-----------------------------------------------------------------
//Direction
.direction {
  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 45%;
}

.direction > h3 {
  color: white;
  font-family: 'Roboto', sans-serif;
}

.example-full-width {
  height: 60px;
  padding: 0;
}

.input-area {
  background-color: white;
}

#notifiCation {
  // color: blue;
  // background-color: #8F4A17;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
}

//----------------------------------------------------------------------------------------------
//Responsive design
@media screen and (max-width: 798px) {
  .solve-page {
    flex-direction: column;
    justify-content: center;
  }

  #maze {
    width: 100%;
  }

  .direction {
    width: 100%;
    justify-content: center;
  }
}



