<!-- <h2>Input your maze here and click Solve button to solve your quiz!</h2> -->
<div class="play-page">
  <div id="maze">
    <div class="grid-container" *ngFor="let row of mazeList; let i = index">
      <mat-form-field class="grid-item" *ngFor="let element of row; let j = index">
        <input matInput type="number" max="9" min="1" class="grid-input" value="mazeList[i][j].value" [(ngModel)]="mazeList[i][j].value" [disabled]="mazeList[i][j].isDisable">
        <!-- <mat-hint>E</mat-hint> -->
      </mat-form-field>
    </div>
  </div>

  <div class="direction">
    <div class="stop-watch">
      <h3>Your current Solving time is:</h3>
      <p id="timer">{{ time }}</p>
    </div>

    <div class="button-holder">
      <!-- <button mat-raised-button color="primary" [disabled]="isSolve || !mazeReady" (click)="startGame()" class="solveButton" *ngIf="!gameStarted && stopTime">
        <span>Start</span>
      </button> -->
      <button mat-raised-button color="primary" [disabled]="isSolve" (click)="pauseGame()" class="solveButton" *ngIf="gameStarted && !stopTime">
        <span>Pause</span>
      </button>
      <button mat-raised-button color="primary" [disabled]="isSolve" (click)="continueGame()" class="solveButton" *ngIf="gameStarted && stopTime">
        <span>Continue</span>
      </button>

      <button mat-raised-button color="primary" [disabled]="!mazeReady" (click)="reset()" class="solveButton">
        <span>Reset</span>
      </button>

      <button mat-raised-button color="primary" (click)="checkSolution()" class="solveButton" *ngIf="gameStarted" [disabled]="checkButtonDisable">
        <span>Check Solution</span>
      </button>

      <button mat-raised-button color="primary" (click)="fillMatrix()" class="solveButton" *ngIf="!gameStarted">
        <span>Generate problem</span>
      </button>

      <button mat-raised-button color="primary" (click)="addSolution()" class="solveButton">
        <span>Add Solution <strong>(For Test)</strong></span>
      </button>

      <button mat-raised-button color="primary" (click)="generatePuzzle()" class="solveButton">
        <span>Generating a Maze <strong>(For Test)</strong></span>
      </button>
    </div>

    <!-- <div id="notifiCation">
      <p *ngIf="isSolve && canBesolve" style="color: lime;">The Maze is solved successfully</p>
      <p *ngIf="!isSolve && !canBesolve" style="color: red;">We can not solve this maze</p>
      <p *ngIf="!isSolve && canBesolve" style="color: orange;">If you can not finish it, we can help you</p>
    </div> -->
  </div>
</div>
