<div class="navbar">
  <ul>
    <li>
      <div routerLink="home-page" class="game-logo">
        <div><img src="../../../../assets/sudoku_logo.jpg" alt="" class="game-icon"></div>
        <p class="game-title">Sudoku</p>
      </div>
    </li>
    <li id="solve"><a routerLink="solveMaze" routerLinkActive="active" (click)="sendTingleSolve()">Solve Your Maze</a></li>
    <li id="play"><a routerLink="playMaze" (click)="sendTinglePlay()">Play with new Maze</a></li>
    <li id="about"><a routerLink="aboutme" (click)="sendTingleAbout()">About me</a></li>

    <li class="icon"><a href="javascript:void(0);" onclick="myFunction()"><mat-icon>list</mat-icon></a></li>
  </ul>
</div>
